@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Starbucks</h1>
    <br />
    <p>Please select an item below: </p>
    <br />
    <form>
        <p><a href="/Product/Detail/1">Black</a></p>
        <p><a href="/Product/Detail/2">Cappuccino</a></p>
        <p><a href="/Product/Detail/3">Americano</a></p>
        <p><a href="/Product/Detail/4">Latte</a></p>
        <p><a href="/Product/Detail/5">Espresso</a></p>
        <p><a href="/Product/Detail/6">Iced Coffee</a></p>
        <p><a href="/Product/Detail/7">Frappuccino</a></p>
        <p><a href="/Product/Detail/8">Nitro</a></p>
    </form>

</div>